@charset "utf-8";

@font-face {
    font-family: 'title';
    src: url('../fonts/Aboreto-Regular.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}